<h1>My Family</h1>
<ul>
    <% for(person of family) {%>
        <li>
            <%= person.name %> is  <%= person.age %>
        </li>
    <% } %>
</ul>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        <% for(person of family) {%>
           <tr>
                <td><%= person.name %></td>
                <td><%= person.age %> </td>
            </tr>
        <% } %>
    </tbody>
</table>

<pre>
    <%= JSON.stringify(family,null,5) %>
</pre>