<h1>Simple Form Result</h1>
<hr>
<p> your username is <%=username %> </p>
<hr>
<p> your age is <%=age %> </p>
<hr>
<p>Your height is <%= heightInches %></p>
<p> Your height in centimeters is <%=heightCentimeters %></p>
<hr>
<p> your version is <%=version %> </p>
<hr>